extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Our website is dedicated to providing you with the most accurate and up-to-date weather information possible. We use a variety of sources, including satellite imagery, radar data, and ground-based observations, to generate our forecasts.
        | <br /><br />
        | Our goal is to make it easy for you to stay informed about the weather in your area, so that you can make informed decisions about your day.  
