extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | 
          small &nbsp;

  .row
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header 
            .card-body
              h4.card-title Hyderabad  
              p.card-text
                | State - Telangana <br />
                | Average Temperature = 31<br />
                | Current Temperature = 31 <br />
                | Humidity =  50% <br />
                | Wind Speed =  10km/hr <br />
                | UV Index =  5 <br />
                | Pressure =  1000hPa <br />
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header 
            .card-body
              h4.card-title Bangalore  
                img(src='https://www.gstatic.com/images/icons/material/apps/weather/2x/mostly_sunny_dark_color_96dp.png', width='30', height='30',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
              p.card-text
                | State - Karnataka <br />
                | Average Temperature = 31<br />
                | Current Temperature = 31 <br />
                | Humidity =  60% <br />
                | Wind Speed =  15km/hr <br />
                | UV Index =  6 <br />
                | Pressure =  1005hPa <br />
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header 
            .card-body
              h4.card-title Chennai
                img(src='https://www.gstatic.com/images/icons/material/apps/weather/2x/partly_cloudy_dark_color_96dp.png', width='30', height='30',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
              p.card-text
                | State - Tamil Nadu <br />
                | Average Temperature = 32 <br />
                | Current Temperature = 33 <br />
                | Humidity =  70% <br />
                | Wind Speed =  20km/hr <br />
                | UV Index =  7 <br />
                | Pressure =  1010hPa <br />

  .row  
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header 
            .card-body
              h4.card-title Mumbai
                img(src='https://www.gstatic.com/images/icons/material/apps/weather/2x/mostly_cloudy_day_dark_color_96dp.png', width='30', height='30',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
              p.card-text
                | State - Maharashtra <br />
                | Average Temperature = 33 <br />
                | Current Temperature = 34 <br />
                | Humidity =  80% <br />
                | Wind Speed =  25km/hr <br />
                | UV Index =  8 <br />
                | Pressure =  1015hPa <br />

   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header 
            .card-body
              h4.card-title Delhi
                img(src='https://www.gstatic.com/images/icons/material/apps/weather/2x/isolated_scattered_tstorms_night_dark_color_96dp.png', width='30', height='30',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
              p.card-text
                | State - Delhi <br />
                | Average Temperature = 34<br />
                | Current Temperature = 35 <br />
                | Humidity =  90% <br />
                | Wind Speed =  30km/hr <br />
                | UV Index =  9 <br />
                | Pressure =  1020hPa <br />

   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header 
            .card-body
              h4.card-title Kolkata
                img(src='https://www.gstatic.com/images/icons/material/apps/weather/2x/isolated_scattered_tstorms_night_dark_color_96dp.png', width='30', height='30',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
              p.card-text
                | State - West Bengal <br />
                | Average Temperature = 35<br />
                | Current Temperature = 36 <br />
                | Humidity =  100% <br />
                | Wind Speed =  35km/hr <br />
                | UV Index =  10 <br />
                | Pressure =  1025hPa <br />